@{
    ViewBag.Title = "Inventario/Equipo";
}

<h2>Miembros del Equipo</h2>
<br/>

<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <h3>Milton Encarnacion</h3>
            <h4>2013-2455</h4>
            <p>Arquitecto de Software</p>
        </div>
        <div class="col-md-4">
            <h3>Luz Gonzalez</h3>
            <h4>2016-0712</h4>
            <p>Analista/Disenadora UI/UX</p>
        </div>
        <div class="col-md-4">
            <h3>Ivan Altagracia</h3>
            <h4>2016-2572</h4>
            <p>Analista/Desarrollardor de Software</p>
        </div>
    </div>

    <br /><br />

    <div class="row">
        <div class="col-md-4">
            <h3>Cesar Hernandez</h3>
            <h4>2016-2133</h4>
            <p>Analista/Bases de Datos</p>
        </div>
        <div class="col-md-4">
            <h3>Edgar Valdez</h3>
            <h4>2016-1508</h4>
            <p>Analista de Requerimientos</p>
        </div>
        <div class="col-md-4">
            <h3>Juan Valdez</h3>
            <h4>0000-0000</h4>
            <p>CEO</p>
        </div>
    </div>
</div>