@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>InventarioSQD</h1>
    <p class="lead">
        InventarioSDQ es Sistema de Inventario producido en Republica Dominicana para cubrir las necesidades de las pequenas, medianas y/o
        grandes empresas, sin importar el sector de poder gestionar sus inventarios de un manera eficiente, rapida y precisa.
    </p>
    <p class="lead">
        Este cuenta con practicas caracteristicas que te perminitiran de forma eficiente gestionar Articulos, Almacenes, Categorizar y Administrar tus inventarios.
    </p>
    <p class="lead">
        A su vez este genera un historico de las transacciones realizadas sobre los inventario y genera los insumos sufucientes para poder integrar dischos datos con
        el Software de Contabilidad de tu preferencia.
    </p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Administra tus Almacenes</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ultrices sodales sollicitudin. 
        Vestibulum sit amet gravida velit, in dignissim elit. Vivamus dignissim ante vel tortor auctor mattis. 
        Donec viverra, lacus id consequat cursus, leo neque feugiat libero, quis varius leo ligula eget quam. 
        Vivamus tempor placerat ante id consectetur. Mauris at est imperdiet, ornare nunc aliquet, maximus lectus. 
        Sed rutrum rutrum arcu vitae tincidunt. Cras eget quam nulla. .</p>
        <p><a class="btn btn-info" href="http://localhost:52854/Almacen">Mas detalle... &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Tipifica tus Inventarios</h2>
        <p>Integer non nunc venenatis, lacinia nibh sit amet, aliquam ligula. Mauris tempor felis dolor, vitae bibendum diam iaculis luctus. 
        Integer sollicitudin ac metus eget rhoncus. Cras venenatis hendrerit urna sit amet ullamcorper. 
        Maecenas pellentesque eleifend ante vel dignissim. Sed turpis augue, sagittis in lobortis vitae, posuere auctor ante. 
        Nullam imperdiet, ipsum id suscipit blandit, metus lorem tincidunt metus, eget mattis nulla libero in magna. </p>
        <p><a class="btn btn-info" href="http://localhost:52854/TipoInventario">Mas detalle... &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Gestiona tus Articulos</h2>
        <p>Donec sed faucibus augue. Aliquam imperdiet libero convallis est ullamcorper viverra. Morbi magna massa, maximus in porta et, gravida ac arcu. 
        Vestibulum molestie ultricies lorem, a auctor nunc convallis vitae. Mauris at eleifend sem. Cras commodo massa risus, in dignissim nunc laoreet et. 
        Pellentesque rhoncus convallis risus vel imperdiet. Nam porta posuere libero. Vestibulum erat nunc, tempor sit amet mattis a, pellentesque semper odio. 
        Nam porta mollis tempus. Etiam convallis, ipsum dictum venenatis sollicitudin, sapien lectus facilisis nibh, non vestibulum libero lectus vitae ex. 
        Proin sollicitudin lorem eget placerat pellentesque. Integer id dui id arcu finibus tempor. 
        Pellentesque tincidunt, nisl consectetur ornare dictum, tortor ante auctor lectus, eget efficitur tortor lectus eu mi. </p>
        <p><a class="btn btn-info" href="http://localhost:52854/Articulo">Mas detalle... &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Visualiza Historico de Transacciones</h2>
        <p>Integer vehicula sem non nisi rutrum egestas. Phasellus condimentum fringilla risus, vel aliquam lorem. Donec vestibulum commodo nisi id scelerisque. 
        Nunc luctus odio et lectus venenatis ultricies id quis libero. Nulla volutpat euismod mollis. Duis pharetra eget urna non hendrerit. 
        Duis pellentesque, ipsum quis tristique posuere, eros tortor ultricies eros, a auctor purus purus nec enim. Sed malesuada elementum tortor, in dictum magna placerat vitae. 
        In tincidunt velit dolor, finibus iaculis ex rhoncus eget. Donec id nulla augue. Morbi quis libero at mi tempus volutpat. 
        Curabitur mi sem, rutrum ut ex id, lacinia mattis sapien. Pellentesque porta euismod lectus. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
        <p><a class="btn btn-info" href="http://localhost:52854/Transaccion">Mas detalle... &raquo;</a></p>
    </div>
</div>
